    body {
        background-color: #f7f3e9;
        font-family: 'Kanit', sans-serif;
    }
    .sidebar {
        background-color: #3e3e3e;
        color: #ffffff;
        width: 200px;
        height: 100vh;
        padding-top: 20px;
        position: fixed;
    }
    .sidebar h3 {
        color: #ffffff;
        margin-bottom: 20px;
        font-size: 1.5rem;
        padding-left: 20px;
    }
    .sidebar a {
        color: #ffffff;
        text-decoration: none;
        padding: 10px 20px;
        display: block;
        font-size: 1.1rem;
    }
    .sidebar a:hover {
        background-color: #575757;
        border-radius: 8px;
    }

